
# =====
# Tests
# =====
flake8
pytest
pytest-cov

# =======
# Compute
# =======
tensorflow_gpu==2.0.0 # Keep fixed
pandas
jsonschema


# =======
# Utilities functions from TAs
# =======
tqdm==4.40.2
opencv-python==3.4.4.19
lz4==3.0.2
h5netcdf==0.7.4
