# Notes:
#   Use the script tools/create_venv.sh to install these dependencies on helios

flake8
pytest
pytest-cov

tensorflow_gpu==2.0.0 # Keep fixed
pandas
jsonschema
tqdm
h5netcdf
netCDF4
lz4
opencv-python
pyyaml
h5py
pvlib
tables
matplotlib
numpy
tensorboard
jupyter
